@font-face {
	font-family: 'Museo-300';
	src:
		url('~@/assets/fonts/Museo-300.woff') format('woff'),
		url('~@/assets/fonts/Museo-300.woff2') format('woff2');
}

@font-face {
	font-family: 'cera_promedium';
	src:
		url('~@/assets/fonts/CeraPro-Regular.woff') format('woff'),
		url('~@/assets/fonts/CeraPro-Regular.ttf') format('ttf'),
		url('~@/assets/fonts/CeraPro-Regular.eot') format('oet');
}