  @import "@/assets/scss/_variables.scss";

  h1 {
   font-family: Museo-300, Helvetica, Roboto, Arial,sans-serif;
   font-size: 2.188rem;
   line-height: 1.1;
   display: block;
   margin: auto;
   margin-bottom: 10px;

   @media only screen and (min-width: $desktop-width) {
     font-size: 2.625rem;
   }
  }

  h4 {
    font-weight: 700;
    font-family: cera_promedium, Helvetica, Roboto, Arial,sans-serif;
    font-size: 1.063rem;
    line-height: 1.5;
    margin-bottom: 10px;
    text-transform: uppercase;
   }

  h2, h3, h4, h5, h6 {
    font-family: cera_promedium, Helvetica, Roboto, Arial,sans-serif;
    margin-bottom: 10px;
    margin-top: .2rem;
    text-rendering: optimizeLegibility;
  }

  .text-center {
    text-align: center !important;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .row {
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
    padding: 2rem 0 2rem 0;

    img {
     margin: 0 0 2rem 0;
    }
  }

  .columns {
    padding-bottom: .2rem;

    @media only screen and (min-width: $desktop-width) {
      position: relative;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      float: left;
    }
  }

  .columns+.columns:last-child {
    float: right;
  }

  section {
    padding: 20px 0;
  }


  dl, ol, ul {
    font-family: cera_proregular, Helvetica, Roboto, Arial,sans-serif;
    font-size: .938rem;
    line-height: 1.4;
    list-style-position: outside;
    margin-bottom: 2rem;
    padding-inline-start: 17px;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: .938rem;
    font-family: cera_proregular, Helvetica, Roboto, Arial, sans-serif;
  }

  p {
    font-family: cera_proregular, Helvetica, Roboto, Arial, sans-serif;
    font-size: .938rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 15px;
    text-rendering: optimizeLegibility;
  }

  .bright {
    background-color: white;

    img {
      margin-bottom: 8px;
    }
  }

  .dark {
    background-color: #f8f8f8;
  }
